/*Global Styles*/

:root{
    --black:#444;
    --text-shadow:.125rem .125rem 0 rgba(48, 28, 2, 0.2);
}

body {
    font-family: "Roboto", "Helvetica", "Sans-serif";
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

* {
    outline: none;
}

*:not(.slick-track):not(.slick-list) {
    transition: 0.4s;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.fel {
    display: flex;
    justify-content: space-between;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 16px;
}

h2 {
    font-size: 40px;
    color: #f69314;
    margin-bottom: 16px;
    line-height: 1.2;
}

h3 {
    font-size: 22px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    font-weight: 300;
}

h5 {
    font-size: 16px;
    font-family: "Playfair Display", serif;
}

p {
    margin: 0 0 16px;
}
button.rounded {
    background: rgba(96, 174, 233, 0.74);
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    padding: 10px 30px;
    line-height: 1.5;
    cursor: pointer;
    
}
/* end of the global*/
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}




.mt-3{
    display: flex;
    flex-wrap: wrap;

}
.mt-3 .card{
    width: 33.33%;
}
.mt-3 .card img{
    width: 100%;
}
